IMPORTING THE DEPENDENCIES

In [149]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from xgboost import XGBRegressor
from sklearn import svm
import matplotlib.pyplot as pit
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

DATA COLLECTION

In [150]:
heart_data = pd.read_csv('/content/heart.csv')

DATA PROCESSING

In [151]:
heart_data.shape

(303, 14)

In [152]:
heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [153]:
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [154]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [155]:
heart_data.value_counts('target')

target
1    165
0    138
dtype: int64

In [156]:
X=heart_data.drop(columns = 'target',axis=1)
Y=heart_data['target']
print(X)
print(Y)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

SPLITTING TRAINING AND TEST DATA

In [157]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.2,stratify=Y,random_state=2)

CREATING THE MODELS

In [158]:
classifier1=svm.SVC(kernel='linear')
model1=XGBRegressor()
classifier2=KNeighborsClassifier(n_neighbors=5)
classifier3=RandomForestClassifier()
classifier4=DecisionTreeClassifier()

TRAINING THE MODELS

In [159]:
classifier1.fit(X_train, Y_train)
model1.fit(X_train, Y_train)
classifier2.fit(X_train, Y_train)
classifier3.fit(X_train, Y_train)
classifier4.fit(X_train, Y_train)

[19:29:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

DecisionTreeClassifier()

PREDICTION ON TRAINING DATA

In [160]:
pred1=classifier1.predict(X_train)
pred2=model1.predict(X_train)
pred3=classifier2.predict(X_train)
pred4=classifier3.predict(X_train)
pred5=classifier4.predict(X_train)

print(pred1)
print(pred2)
print(pred3)
print(pred4)
print(pred5)

[1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 0 0 0 1 0 1 1 0 1 0
 1 0 0 0 1 0 0 1 1 0 1 0 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 0 0 1
 1 0 0 1 0 1 0 0 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 1 0 0 1 1 1 0 0 1 0 1 1 0 1
 1 0 1 1 0 1 1 0 0 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 0 0 0 0
 0 1 0 1 1 0 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 1
 1 1 0 1 1 0 0 1 0 1 1 0 1 0 1 1 0 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 0 0 0 1 0
 1 0 1 0 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1]
[ 8.33415687e-01  7.50861764e-02  9.26348269e-01  7.76528358e-01
  5.77376187e-02  2.46837527e-01  9.87644553e-01  7.52784967e-01
  3.57277691e-01  4.29343522e-01  1.02948117e+00  3.94466519e-01
  5.42457044e-01  9.85276341e-01  9.53248322e-01  8.26362312e-01
  9.22326446e-01 -4.95702028e-03  4.74900723e-01  1.04304504e+00
  1.18894428e-01  1.02098346e+00  1.00426555e+00  8.25843871e-01
  5.96432149e-01  9.82106924e-01  8.86833906e-01  8.08457971e-01
  1.86147690e-02  6.62765205e-02  8.99726629e-01  3.59722972e-03
  9.45894480e-01  8.67247701e-01 -7.58159161e-03  9.43942547e-01
  2.78060734e-02  9.59901810e-01 -1.31496191e-02 -4.64280844e-02
  1.30671680e-01  9.85276341e-01 -9.61309671e-02 -2.74318457e-03
  9.10194159e-01  9.31256056e-01 -5.33339381e-02  9.34130549e-01
 -3.41925025e-02  4.24814969e-01  6.46098077e-01  9.81618524e-01
  9.97497737e-02 -1.40579939e-02  1.03964996e+00  6.75975084e-02
  8.21040034e-01  1.51680708e-01  9.92822886e-01  7.84676611e-01
  8.39102805e-01  9.86865640e-01  1.00791186e-01  2.22329468e-01
  9.96832728e-01  9.81725931e-01 -2.83365846e-02  9.45542812e-01
  9.41079617e-01  9.83578920e-01  1.01121402e+00  4.71833646e-02
  2.11832821e-02  2.24867493e-01  9.14075017e-01  6.17491901e-02
 -6.63858652e-03  9.98797774e-01  2.89829254e-01  8.92343283e-01
  2.67070830e-02 -4.61939573e-02  4.83868688e-01  9.21021938e-01
  2.18755186e-01 -2.21559405e-02  1.01147377e+00  9.57762480e-01
  8.48953247e-01  9.37419295e-01  2.24575251e-01  9.56985950e-01
  8.84771347e-03 -4.54127789e-04  1.00576878e+00  4.94302213e-02
 -8.60294700e-02  5.28116345e-01  3.19532752e-02  1.17213100e-01
  9.05779541e-01  8.98085117e-01  1.04348946e+00 -7.84025788e-02
  1.03336632e-01  8.92219067e-01 -2.72343755e-02  9.30382073e-01
  9.64011192e-01  8.85800421e-02  1.02592587e+00  8.28119397e-01
  3.05083394e-02  9.60796237e-01  3.36878717e-01  5.34119248e-01
  6.75606728e-01  8.65427434e-01  3.82888913e-02  6.14100695e-01
  9.79087174e-01  8.67563248e-01  3.03479910e-01  3.01986933e-04
 -6.94704652e-02  9.16059732e-01  7.74351835e-01  9.82205808e-01
  3.24957609e-01  8.80360007e-02  9.11867797e-01  1.32858545e-01
  2.15844244e-01  9.47768509e-01  1.00929546e+00  9.35645998e-01
  6.49576485e-02  1.17099792e-01  3.41926813e-01  1.57163322e-01
  8.13087761e-01  8.76510859e-01  8.43528926e-01  4.07593936e-01
 -4.07146215e-02 -5.27768731e-02  9.16541815e-02 -5.20999432e-02
  2.27894187e-02  1.74556851e-01  7.00902939e-02  1.05434740e+00
  9.43060994e-01  4.05791700e-02  9.34107184e-01  9.00269985e-01
  8.86467874e-01  1.05740809e+00  9.93420601e-01  1.79454744e-01
  8.29194605e-01  9.54452872e-01 -7.29541779e-02 -3.51771712e-02
  8.97017181e-01  9.01768804e-02  9.99358296e-01  1.04653430e+00
  2.96520889e-02  8.48431468e-01  9.87027764e-01  6.63877130e-02
  9.76863742e-01  1.03389359e+00  8.60243201e-01  9.02874470e-02
  4.18013334e-03  3.53363931e-01  9.44858193e-01  6.96999609e-01
  9.82140779e-01  7.84267306e-01  2.65351593e-01  1.49426162e-02
  9.38755393e-01  7.56649733e-01  1.07387424e+00  7.34794736e-02
  8.14171791e-01  7.95859456e-01 -1.43498182e-03  1.25107974e-01
  9.98004377e-01  1.19746238e-01  2.76480794e-01  1.01242924e+00
  2.03237832e-02  7.66094863e-01 -3.23975682e-02  7.91532993e-01
  4.65632021e-01  6.21058643e-01  9.58694637e-01 -8.15370679e-02
  9.59691346e-01  6.06458783e-02  9.58281696e-01  9.22365308e-01
 -5.98301291e-02  9.06118989e-01  6.96086049e-01  1.01148856e+00
  4.05633003e-01  9.98042405e-01  8.34767163e-01  9.52913105e-01
  2.90786177e-01  3.55407000e-02  6.89776838e-02 -7.03212619e-02
  1.03681922e+00  8.33798170e-01  9.95240986e-01  3.87091339e-02
  6.17785335e-01 -2.91246176e-03  9.77392793e-01  4.74320173e-01
  1.01594520e+00  9.34960008e-01  1.02234197e+00  4.83483672e-01
  7.22983181e-02  1.30874217e-02  1.05580282e+00  8.04242134e-01
  9.62687552e-01  8.52607489e-01  9.73810434e-01  4.21311855e-02
  2.27562398e-01  9.94918704e-01]
[1 0 1 0 0 0 1 1 1 0 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1 0 1 0
 1 0 0 1 1 0 1 1 1 0 1 0 0 0 0 0 0 1 0 1 0 1 0 1 1 1 0 0 1 0 1 1 1 1 0 0 0
 1 1 0 1 1 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 0 0 1 0 1 0 0 0 0 1 1 0 1
 1 1 1 1 0 1 0 0 1 1 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 0 1 1 1 1 1 1 0 1 0 0 0
 0 0 0 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 1 1 0 0 1 0 0 0 1 1 1 1 1 0 0 1
 1 1 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 0 1 0 1 1
 1 1 1 1 1 0 1 1 1 1 0 0 1 0 0 1 1 0 0 1]
[1 0 1 1 0 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 0 1 0 1 1 0 1 0
 1 0 0 0 1 0 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 0 0
 1 0 0 1 0 1 0 0 0 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 1 1 0 1
 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 1 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0
 0 0 0 1 1 0 1 1 1 1 1 0 1 1 0 0 1 0 1 1 0 1 1 0 1 1 1 0 0 0 1 1 1 1 0 0 1
 1 1 0 1 1 0 0 1 0 0 1 0 1 0 1 0 1 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 0 0 1 1
 1 0 0 0 1 0 1 1 1 0 0 0 1 1 1 1 1 0 0 1]
[1 0 1 1 0 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 0 1 0 1 1 0 1 0
 1 0 0 0 1 0 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 0 0
 1 0 0 1 0 1 0 0 0 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 1 1 0 1
 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 1 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0
 0 0 0 1 1 0 1 1 1 1 1 0 1 1 0 0 1 0 1 1 0 1 1 0 1 1 1 0 0 0 1 1 1 1 0 0 1
 1 1 0 1 1 0 0 1 0 0 1 0 1 0 1 0 1 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 0 0 1 1
 1 0 0 0 1 0 1 1 1 0 0 0 1 1 1 1 1 0 0 1]

PREDICTION ON TESTING DATA

In [161]:
tpred1=classifier1.predict(X_test)
tpred2=model1.predict(X_test)
tpred3=classifier2.predict(X_test)
tpred4=classifier3.predict(X_test)
tpred5=classifier4.predict(X_test)

print(tpred1)
print(tpred2)
print(tpred3)
print(tpred4)
print(tpred5)

[0 1 1 0 1 1 0 0 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 1
 0 0 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 1 1 0 0 1 1 1]
[-0.06101644  1.0176382   0.5744883   0.01128724  1.0869814   1.0435996
  0.0458318  -0.14517266  0.6398717   0.8810258   0.8742389   0.34801328
  0.0081664   0.7076986   1.0255628   0.81465924  0.08104572  0.83765787
  0.29093888  0.9957405   0.6804589   0.6298521   0.8002666   0.53105307
  0.31951064  0.43205503  0.17931229 -0.12428927  0.8952918   0.25898987
  0.74269086  0.7624026   0.38108686  0.85831696  0.08722046 -0.0245955
  0.7286361   0.03893346 -0.08521408  0.39466536  0.1399275   0.62501067
  0.43317488  0.73192275  0.56868327  0.6751323   1.0091249  -0.04208988
  0.9561242   0.69220126  0.03643662  0.41340664  0.10111222  0.9032141
  0.18356109  0.5521892   0.24468914 -0.1463921   0.6552691   0.9674
  0.9157077 ]
[0 1 1 0 1 0 0 0 1 0 1 1 0 1 1 0 0 1 1 1 1 0 0 1 0 0 0 1 1 0 1 1 0 0 0 0 1
 1 0 1 1 1 1 0 1 1 1 0 1 1 0 0 0 1 1 0 1 0 1 1 1]
[0 1 1 0 1 1 0 0 1 1 1 0 0 1 1 1 0 1 0 1 1 1 1 1 0 0 0 0 1 0 1 1 1 1 0 0 1
 0 0 1 0 1 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 1 1]
[0 1 1 0 1 1 0 0 1 1 1 1 0 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 0 0 1
 0 0 1 0 0 0 1 1 1 1 0 1 1 0 1 0 1 0 0 1 0 1 1 1]

ERROR CALCULATION

In [162]:
def error_calc(X, Y): 
  score_1=metrics.r2_score(X, Y)
  score_2=metrics.mean_absolute_error(X, Y)
  #r2_score=coefficient of determination 0.9+ (best score)
  #MSE=lower the better
  return score_2
  #returns MSE

In [163]:
error1=error_calc(Y_test,tpred1)
error2=error_calc(Y_test,tpred2)
error3=error_calc(Y_test,tpred3)
error4=error_calc(Y_test,tpred4)
error5=error_calc(Y_test,tpred5)

DISPLAY ERROR OF EACH MODEL

In [164]:
print('Error for:')
print("Support Vector Machine:",error1)
print("XGBRegressor:",error2)
print("KNN:",error3)
print("Random Forest:",error4)
print("Decision Tree Classifier:",error5)

Error for:
Support Vector Machine: 0.18032786885245902
XGBRegressor: 0.31752685591822766
KNN: 0.3770491803278688
Random Forest: 0.19672131147540983
Decision Tree Classifier: 0.2459016393442623